{% extends "base.html" %}
{% block content %}
  {% include "partials/errors.html" %}
  <form action="" method="post" class="m-2">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.username.errors }}
      <label for="username" class="form-label">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             placeholder="Enter your username"
             name="username"/>
    </div>
    <div class="mb-3">
      {{ form.password.errors }}
      <label for="password" class="form-label">Password</label>
      <input type="password"
             class="form-control"
             id="password"
             placeholder="Enter your password"
             name="password"/>
    </div>
    <button type="submit" class="btn btn-success">Login</button>
  </form>

{% endblock content %}
