{% if messages %}
  <div class="col m-2">
    <div class="row">
      {% for message in messages  %}
        <div class="d-flex justify-content-between">
          <div></div>
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
               role="alert">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
