{% extends "base.html" %}

{% block title %}
  Personal Blog | Create Post
{% endblock title %}

{% block extra_style %}
  <style>
    ul {
        color: red;
    }

    label {
        font-weight: 800;
        margin-top: 20px;
        margin-bottom: 10px;
    }
  </style>
{% endblock extra_style %}
 
{% block content %}
  <h1>New Post</h1>
  {% include "partials/errors.html" %}
  <form action="" method="post" class="post-form">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit" class="btn btn-success">Save</button>
  </form>
{% endblock content %}
